body{
    display: block;
    position: relative;
    background: none;
    background: linear-gradient(orangered , yellow);
}
header{
    border-style: solid;
    width: 670px;
    height: 200px;
    border-width: 5px;
    border-color: red;
    border-radius: 20px;
    text-align: center;
    padding-right: auto;
    padding-left: auto;
    background-color: orangered;
    color: rgb(0, 0, 0);

    margin-right: auto;
    margin-left: auto;

    position: sticky;
    top: 0px;

    
}
form{
    padding: 30px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
div{
    border-style: solid;
    width: 700px;
    height: 1300px;
    border-width: 5px;
    border-color: red;
    border-radius: 25px;
    padding: 10px;
    font-size: larger;
    background-color: rgb(243, 215, 163);
    margin-right: auto;
    margin-left: auto;
    

    box-shadow: 0px 0px 10px rgb(255, 1, 1) , 0px 0px 10px yellow;
}
#login{
    padding-left: 150px;
    position: sticky;
    top: 0px;
}
a:link{
    color: #000;
}
a:hover{
    color: yellow;
}
a:active{
    color: orangered;
}

button{
    border-style: solid;
    width: 670px;
    height: 50px;
    border-color: black;
    border-radius: 50px;
    text-align: center;
    background-color: rgb(8, 12, 14);
    

    color: rgb(248, 241, 241);
    box-shadow: 0px 0px 10px black;
}
button:hover{
    background-color: yellow;
    color: #fff;
}
button:active{
    background-color: orangered;
    color: black;
}
input{
    accent-color: gold;
    color: orangered;
}



