body{
    background-image: url(Khoders.jpgcd);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-content: center;
}
header{
    margin: 10px;
    position: sticky;
    text-align: center;

}
form{
    padding: 5px;
    font-size: 25px;
    
}
div{
    border-style: solid;
    width: 700px;
    height: 2s00px;
    border-width: 5px;
    border-color: skyblue;
    border-radius: 10px;
    padding: 10px;
    font-size: larger;
    background: linear-gradient( white);
    margin-right: auto;
    margin-left: auto;
}
.hr{
    position: sticky;
}


