/* <!-- :root {
  /* --primary-color: #2A4E6D;    Deep Blue */
  /* --secondary-color: #F1B521;  Gold */
  /* --accent-color  #E87B2A;     Orange */

:root { 
  --primary-color: #2A4E6D;    /* Deep Blue */
  --secondary-color: #F1B521;  /* Gold */
  --accent-color: #E87B2A;     /* Orange */
}